<!DOCTYPE html>
<html>

<head>
	<title>{% yield title %}</title>
	<meta charset="utf-8">
	<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
	<!-- Alpine Plugins -->
	<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
	<!-- Alpine Core -->

	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

</head>

<body class="bg-gray-900 flex justify-center items-center min-h-screen">
	<div class="grid grid-cols-3 bg-white rounded w-3/6" x-data="{tab:1}">
		<nav class="bg-gray-100 rounded-l flex flex-1 flex-col px-2" aria-label="Sidebar">
			<ul role="list" class="-mx-2 space-y-1">
				<li>
					<!-- Current: "bg-gray-50 text-indigo-600", Default: "text-gray-700 hover:text-indigo-600 hover:bg-gray-50" -->
					<a href="#"
						class="bg-gray-50 text-indigo-600 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold">Dashboard</a>
				</li>
				<li>
					<a href="#"
						class="text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold">Team</a>
				</li>
				<li>
					<a href="#"
						class="text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold">Projects</a>
				</li>
				<li>
					<a href="#"
						class="text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold">Calendar</a>
				</li>
				<li>
					<a href="#"
						class="text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold">Documents</a>
				</li>
				<li>
					<a href="#"
						class="text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold">Reports</a>
				</li>
			</ul>

		</nav>
		<section class="col-span-2">
			<article>
				{{$component('pesquisa-simples',['name'=>'bancos','label'=>'Bancos / Empresas'])}}
			</article>
		</section>
	</div>
</body>
<script>
	function updatedInput(elelment, event) {
		if (!event.target.hasAttribute('live:model')) return;
		let property = event.target.getAttribute('live:model')
		let value = event.target.value
		sendRequest(elelment, { updateProperty: [property, value] })
	}
	function initLiveModel(el) {
		updateLiveModelInputs(el)
		let data = el.__live.data
		let doneTypingInterval = 1000;
		el.typingTimer = null; //timer identifier
		el.addEventListener('keyup', (e) => {
			clearTimeout(el.typingTimer);
			el.typingTimer = setTimeout(() => {
				updatedInput(el, e)
			}, doneTypingInterval);
		});
		el.addEventListener('keydown', () => {
			clearTimeout(el.typingTimer);
		});
		el.addEventListener('change', (e) => {
			updatedInput(el, e)
		})
	}
	function updateLiveModelInputs(element) {
		let data = element.__live.data
		document.querySelectorAll('[live\\:model]').forEach(el => {
			let property = el.getAttribute('live:model')
			el.value = element.__live.data[property]
		})
	}
	function initSlimClick(el) {
		el.addEventListener('click', e => {
			if (!e.target.hasAttribute('live:click')) return;
			let method = e.target.getAttribute('live:click')
			sendRequest(el, { callMethod: method })
		})
	}
	function sendRequest(el, addToPayload) {
		fetch('/live', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({
				snapshot: el.__live,
				...addToPayload
			})
		}).then(res => res.json()).then(res => {
			el.__live = res.snapshot
			console.log(res.html)
			// el.innerHTML = res.html
			Alpine.morph(el.firstElementChild, res.html)
			updateLiveModelInputs(el);
		})
	}
	document.addEventListener("DOMContentLoaded", () => {
		console.log('inicializado')
		document.querySelectorAll('[live\\:snapshot]').forEach(el => {
			el.__live = JSON.parse(el.getAttribute('live:snapshot'))
			initSlimClick(el)
			initLiveModel(el)
		})
	})
</script>

</html>