<!DOCTYPE html>
<html>

<head>
	<title>{% yield title %}</title>
	<meta charset="utf-8">
	<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
	<!-- Alpine Plugins -->
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
<!-- Alpine Core -->

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

</head>

<body class="bg-gray-900">
<div class="relative isolate pt-14">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="py-24 sm:py-32 lg:pb-40">
		<div class="container mx-auto max-w-sm text-white">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, et corporis alias earum, odio voluptatum id
			sapiente
			non, praesentium dicta veniam provident quos deleniti beatae quam cumque ea est inventore?
			<h1>Tarefas</h1>
			{{$teste}}
			{{$live('\App\Todo')}}
		</div>
	</div>
</div>
</body>
<script>
	function initLiveModel(el) {
		updateLiveModelInputs(el)
		let data = el.__live.data
		el.addEventListener('change', e => {
			if (!e.target.hasAttribute('live:model')) return;
			let property = e.target.getAttribute('live:model')
			let value = e.target.value
			sendRequest(el, { updateProperty: [property, value] })
		});
	}
	function updateLiveModelInputs(element) {
		let data = element.__live.data
		document.querySelectorAll('[live\\:model]').forEach(el => {
			let property = el.getAttribute('live:model')
			el.value = element.__live.data[property]
		})
	}
	function initSlimClick(el) {
		el.addEventListener('click', e => {
			if (!e.target.hasAttribute('live:click')) return;
			let method = e.target.getAttribute('live:click')
			sendRequest(el, { callMethod: method })
		})
	}
	function sendRequest(el, addToPayload) {
		fetch('/live', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({
				snapshot: el.__live,
				...addToPayload
			})
		}).then(res => res.json()).then(res => {
			el.__live = res.snapshot
			console.log(res.html)
			// el.innerHTML = res.html
			Alpine.morph(el.firstElementChild,res.html)
			updateLiveModelInputs(el);
		})
	}
	document.addEventListener("DOMContentLoaded", () => {
		console.log('inicializado')
		document.querySelectorAll('[live\\:snapshot]').forEach(el => {
			el.__live = JSON.parse(el.getAttribute('live:snapshot'))
			initSlimClick(el)
			initLiveModel(el)
		})
	})
</script>

</html>